.PC_main{
    /* width: 20%; */
}

.cameraBox{
    width: 80%;
    margin: 1% auto;
    padding: 20% 1%;
    border: 0.5px solid #e6e6e6;
    border-radius: 2.5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.PC_flexBox{
    width: 80%;
    margin: 2% auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ColorPicker{
  width: 3vw;
  height: 3vw;
  border-radius: 0.2vw;
  margin: 1% 2%;
  cursor: pointer;
}

.PC_comment{
    width: 3vw;
  height: 3vw;
  border: 0.5px solid #e6e6e6;
  border-radius: 0.2vw;
  padding: 3%;
  margin: 1% 10%;
  display: flex;
  justify-content: center; 
}