 
.btnn{
    background-color: 
    #e33e40;
  border-radius:  7px 0px 0px 0px;
  color: #e33e40;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
}
.btn{
    background-color:white;
  border-radius:  7px 0px 0px 0px;
  color: white;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px .005px;
  
}
.circle{
    color:#b7b7b7;
    /* margin-bottom: 2%; */
    width: 13px;
    height: 13px;
}
.text{
    width: 61px;
    height: 11px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.Customize-Annually {
    width: 61px;
    height: 11px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #b7b7b7;
    margin: 0
  }
  .text-input{
    width: 61px;
    height: 11px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
   margin-top: 45px;
   margin-left: 35px
  }
  .textt-input{
    width: 61px;
    height: 11px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
   margin-top: 45px;
   margin-left: 35px
  }
 
