/* Basic_Info */
.item3 {
    grid-area: myArea;
  }
  
.basic-form-grid-container {
    display: grid;
    grid-template:'. . .';
    grid-gap: 1%;
    padding: 1%;
}

.basic-form-grid-container > div {
    text-align: left;
    padding: 0 0;
    margin: 0 3%;
  }


  .FB_Main{
    padding: 1%;
}

.FB_header{
    font-family: Lato;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #575757;
    margin-bottom: 1%;
}

.FB_HeaderBr{
    border: 0.5px solid #707070;
}

