.login-screen{
  height: 70%;
  background-color: #f6f6f6;
}
.LogContainer{
  width: 30%;
  height: 70%;
  display: grid;
  grid-template-rows: 25% 20% 20% 35%;
  grid-row-gap: 2%;
  border-radius: 7.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
    border: 1px solid #f6f6f6 ;
  margin: 0 auto;
  position: relative;
top: 70%;
transform: translateY(-50%);
  
}
.imgcont{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 6% ;
}
.imageC{
    height: 80%;
    width: 25%;
    align-self: center;
    align-content: center;
    text-align: center;
}
.attr{
    margin: 0 auto;
    width: 70%;
}
.word{
    height: 5%;
  font-family: Lato;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: left;
  color: #2b2b2b;
}
.inputfield{
    height: 30%;
    width: 100%;
    border:0px;
    border-bottom: 0.4px solid #afacac;
    font-size: 0.5rem;
    color: #2b2b2b;

}
.forget{
    margin: -2% 15% 7% ;
    text-align: right;
    align-items: end;
    justify-content: right;
    
}
.forget p{
  font-family: Lato;
  font-size: 0.4rem;
  font-weight: bold;
  text-align: right;
  color: #707070;
}
.forget button{
    width: 27%;

    height: 27%;
    border-radius: 2.5px;
    border: 1px solid #ed282b;
    background-color: #ed282b;
    font-family: Lato;
    font-size: 0.4rem;
    text-align: center;
    color: #ffffff;
}
.have-account{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.create{
    font-weight: bold;
  color: #ed282b;
  font-size: 0.4rem;
}
.have{
    font-family: Lato;
  font-size: 0.4rem;
  text-align: left;
  color: #707070;
}
@keyframes fadeIn { 
    from { opacity: 0; } 
}
.error_msg{
    text-align: center;
    font-size: 0.8rem;
    color: #ed282b;
    animation: fadeIn 1s infinite alternate;
    width: 100%;
}
